.search-container {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 240px;
    height: 6px;
    padding: 15px;
    border: none;
    margin-left: 10px;
}